<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.epfl.unison"
    android:versionCode="1"
    android:versionName="1.0" >

  <!-- Requirements. -->
  <uses-sdk android:minSdkVersion="10" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
      android:name=".UnisonApp"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name" >

    <!-- Activities. -->
    <activity android:name=".activity.PrefsActivity"
        android:label="@string/activity_title_prefs" />

    <activity android:name=".activity.RatingsActivity"
        android:label="@string/activity_title_ratings" />

    <activity android:name=".activity.RoomsActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".activity.PlayerActivity"
        android:label="@string/activity_title_player"
        android:theme="@android:style/Theme.NoTitleBar" />

    <activity android:name=".activity.StatsActivity"
        android:label="@string/activity_title_stats"
        android:theme="@android:style/Theme.NoTitleBar" />

    <activity android:name=".activity.MainActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" />

    <!-- Services. -->
    <service android:name=".music.MusicService"
        export="false">
      <intent-filter>
        <action android:name="ch.epfl.unison.music.action.TOGGLE_PLAYBACK" />
        <action android:name="ch.epfl.unison.music.action.PLAY" />
        <action android:name="ch.epfl.unison.music.action.PAUSE" />
        <action android:name="ch.epfl.unison.music.action.STOP" />
      </intent-filter>
      <intent-filter>
        <action android:name="ch.epfl.unison.music.action.LOAD" />
        <!-- This has been copied from the default android music app. -->
        <data android:mimeType="audio/*"/>
        <data android:mimeType="application/ogg"/>
        <data android:mimeType="application/x-ogg"/>
        <data android:mimeType="application/itunes"/>
      </intent-filter>
    </service>

  </application>

</manifest>
